body{
    background-color: var(--background-color-body);
    height: 100vh;
    padding: 1em;
    font-family: 'Rubik Regular', Arial, Helvetica, sans-serif;
}
.App,
.root{
    height: 100%;
    width: 100%;
}
.App{
    overflow-y: hidden;
    opacity:1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
header{
    background-color: var(--background-color-header);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:1em 1.5em;
}
header .user-profile-botton{
    grid-template-columns: 1fr 11fr;
}
header .user-profile-botton span b{
    font-weight: 800;
}
header form{
    grid-template-columns: 1fr 10fr;
}
header form input{
    background-color: #ffffff2e;
    width: 95%;
    height: 50%;
    border-radius: 15px;
    padding-left: 10px;
}
header form input::placeholder{
    padding-left: 10px;
    color: #ffffff87;

}
header .user-actions{
    grid-template-columns: 1fr 1fr 1fr;
}
header .user-info button svg,
header form button svg {
    width: 25px;
}
aside{
    grid-column: 1/1 span;
    grid-row: 1/2 span;
    background-color: var(--background-color-aside);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    padding: 1em;
    max-height: 100vh;
}
header .user-info,
header .user-profile-botton,
header .user-actions,
header form,
aside .logo,
aside nav ul li,
aside nav ul {
    display: grid;
    gap:10px;
    align-items: center;
}
header .user-info{
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: end;

}
main .main-content section.trending div.user img,
header .user-profile-botton img,
header .user-info img{
    border-radius: 50%;
}
header .user-profile-botton img{
    width: 100%;
    justify-self: center;
}
.trending h2,
.announcements h2,
.works h2,
header .user-info span {
    font-weight: 900;
}
header .user-info img{
    width: 60%;
}
header .user-actions button{
    background-color: var(--text-color-primary);
    color: var(--background-color-body);
    font-weight: 600;
    padding: .5em;
    border-radius: 30px;
}
aside nav ul li {
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
}
main .main-content section div div.card div.icons svg{
    width: 20px;
}
main .main-content section div div.card div.icons svg:hover,
aside nav ul li a:hover,
aside .logo svg ,
aside nav ul li svg{
    width: 20px;
    color:var(--text-color-primary);
}
aside nav ul li a {
    justify-self: start;
}
aside .logo {
    grid-template-columns: 1fr 6fr;
    align-items: center;
    align-self: start;
}
aside .logo svg{
    width:40px;
}
aside .logo h1 {
    font-size: 1.5em;
    font-weight: 600;
}
main{
    padding: 1.5em;
    overflow: auto;
    scroll-behavior: smooth;
    background-color: #1f293788;
}
main::-webkit-scrollbar{
    width: 3px;
}
main::-webkit-scrollbar-thumb{
    background-color: #8c8cae;
}
main .main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'work announ'
        'work trend';
    gap: 2em;
}
main .main-content section.works .work-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2em;
}
main .main-content section.works{
    grid-area: work;
}
.trending-users div.user:hover,
.announcements div.card:hover,
main .main-content section.works .card:hover{
    opacity: 1;
}
.trending-users,
.announcement-cards,
main .main-content section.works .card{
    box-shadow: 1px 1px 8px 0px;
    display: grid;
}
main .main-content section.works .card{
    opacity: .7;
}
.trending-users,
.announcement-cards,
main .main-content section.works .card{
    padding: 1em;
    border-radius: 10px;
}
.trending-users div.user p,
.announcements div.card p,
main .main-content section.works .card p {
    font-size: 0.9em;
}
.announcements div.card p {
    font-size: 0.8em;
}
.trending-users div.user p strong,
.announcements div.card p strong,
main .main-content section.works .card p strong{
    font-size: initial;
}
.trending-users div.user{
    grid-template-columns: 1fr 6fr;
}
main .main-content section.works .card{
    border-left:solid 5px var(--text-color-primary);
}
main .main-content section.works .card .icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
main .main-content section.announcements{
    grid-area: announ;
}
main .main-content section.trending{
    grid-area: trend;
}
main .main-content section h2 {
    margin-bottom: 10px;
}
main .main-content section div {
    display: grid;
    gap:10px;
}
main .main-content .announcement-cards{
    gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
}
main .main-content .announcement-cards .card:not(:last-child){
    border-bottom: solid 3px #ffffff2e;
}
.work-cards div.card:nth-last-child(even){
    background-color:#526084;
    height: 200px;
}
.work-cards div.card:nth-child(2),
.work-cards div.card:nth-child(4),
.work-cards div.card:nth-child(6){
    background-color: #2c2c37;
    height: 200px;
}
.trending-users,
.announcement-cards{
    background-color:#585c6c;
}