body{
    background-color: var(--background-color-header);
    height: 100vh;
    padding: 1em;
}
.App,
.root{
    height: 100%;
    width: 100%;
}
.App{
    background-color: #1f293788;
    overflow-y: hidden;
    opacity:1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
header{
    background-color: var(--background-color-header);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:1em 1.5em;
}
header .user-profile-botton{
    grid-template-columns: 1fr 11fr;
}
header .user-profile-botton span b{
    font-weight: 800;
}
header form{
    grid-template-columns: 1fr 10fr;
}
header form input{
    background-color: #ffffff2e;
    width: 95%;
    height: 50%;
    border-radius: 15px;
    padding-left: 10px;
}
header form input::placeholder{
    padding-left: 10px;
    color: #ffffff87;

}
header .user-actions{
    grid-template-columns: 1fr 1fr 1fr;
}
header .user-info button svg,
header form button svg {
    width: 25px;
}
aside{
    grid-column: 1/1 span;
    grid-row: 1/2 span;
    background-color: var(--background-color-aside);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    padding: 1em;
}
header .user-info,
header .user-profile-botton,
header .user-actions,
header form,
aside .logo,
aside nav ul li,
aside nav ul {
    display: grid;
    gap:10px;
    align-items: center;
}
header .user-info{
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: end;

}
header .user-profile-botton img,
header .user-info img{
    border-radius: 50%;
}
header .user-profile-botton img{
    width: 100%;
    justify-self: center;
}
header .user-info span {
    font-weight: 900;
}
header .user-info img{
    width: 60%;
}
header .user-actions button{
    background-color: var(--text-color-primary);
    color: var(--background-color-header);
    font-weight: 600;
    padding: .5em;
    border-radius: 30px;
}
aside nav ul li {
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
}
aside nav ul li a:hover,
aside .logo svg ,
aside nav ul li svg{
    width: 20px;
    color:var(--text-color-primary);
}
aside nav ul li a {
    justify-self: start;
}
aside .logo {
    grid-template-columns: 1fr 6fr;
    align-items: center;
    align-self: start;
}
aside .logo svg{
    width:40px;
}
aside .logo h1 {
    font-size: 1.5em;
    font-weight: 600;
}
main{
    background-color: var(--background-color-main);
    margin: 1.5em;
}